MYMETA.json
MYMETA.yml
blib
*.o
*.log
xs/assertlib*
.init_bundle.ini
local-lib
**/.DS_Store
install_*
SVG
*.mo
**/process_full/
**/machine_full/
**/filament_full/
resources/profiles/user/default

# IDE directories
**/.idea
**/.vscode
**/.vs

# Build system directories and byproducts
**/cmake-build-debug/
/build*/
deps/build*
xs/buildtmp
deps/build*/*
build_*/
_build
build-linux/*
Build
Build.bat
/.cache/
**/.flatpak-builderi/
src/OrcaSlicer-doc/
src/TAGS
/deps/DL_CACHE/
/deps/DL_CACHE
MANIFEST.bak
xs/MANIFEST.bak
